 .about-page {
   font-family: "Inter", sans-serif;
   color: #222;
   padding: 40px 20px;
 }

 @keyframes fadeUp {
   0% {
     opacity: 0;
     transform: translateY(20px);
   }

   100% {
     opacity: 1;
     transform: translateY(0);
   }
 }

 /* Hero */
 .hero {
   position: relative;
   text-align: center;
   padding: 120px 20px;
   margin-bottom: 60px;
   border-radius: 20px;
   background: url('/public/images/about_img.png') no-repeat center center/cover;
   overflow: hidden;

   /* lớp overlay tối */
   &::before {
     content: "";
     position: absolute;
     inset: 0;
     background: rgba(0, 0, 0, 0.45); // độ tối 45%
     border-radius: inherit;
     z-index: 1;
   }

   /* để chữ nổi lên trên overlay */
   >* {
     position: relative;
     z-index: 2;
   }

   .hero-title {
     font-size: 48px;
     font-weight: 700;
     margin-bottom: 10px;

    background: linear-gradient(135deg, #fff, #d0d0d0);
     -webkit-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: fadeUp 0.8s ease-out forwards;
   }

   .hero-text {
     max-width: 700px;
     margin: 10px auto;
     font-size: 1.6rem;
     font-weight: 300;
     color: #f1f1f1;
     line-height: 1.5;

     animation: fadeUp 1s ease-out forwards;
     animation-delay: 0.15s;
     font-weight: 700;
     color: #ffffff;
   }
 }




 /* Info Cards */
 .info-grid {
   display: grid;
   gap: 25px;
   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
   margin-bottom: 70px;

   .info-card {
     background: #fff;
     padding: 28px;
     border-radius: 18px;
     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
     transition: transform 0.25s;

     &:hover {
       transform: translateY(-6px);
     }

     .card-title {
       font-size: 24px;
       margin-bottom: 10px;
     }

     .card-text {
       color: #555;
       line-height: 1.6;
     }
   }
 }

 /* Team */
 .team-section {
   text-align: center;
   margin-bottom: 70px;

   .team-title {
     font-size: 32px;
     margin-bottom: 25px;
   }

   .team-grid {
     display: grid;
     gap: 25px;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   }

   .team-card {
     background: #fff;
     padding: 25px;
     border-radius: 16px;
     box-shadow: 0 4px 18px rgba(0, 0, 0, 0.07);
     transition: 0.25s;

     &:hover {
       transform: translateY(-5px);
     }

     .avatar {
       width: 80px;
       height: 80px;
       margin: 0 auto 15px;
       background: #e4e4e4;
       border-radius: 50%;
     }

     .team-role {
       font-size: 20px;
       margin-bottom: 6px;
       font-weight: 600;
     }

     .team-desc {
       color: #666;
       font-size: 15px;
     }
   }
 }

 /* Quote */
 .quote {
   max-width: 800px;
   margin: 50px auto 0;
   font-size: 20px;
   font-style: italic;
   font-weight: 400;
   text-align: center;
   color: rgb(70, 63, 63);
 }