
.shipping-page {
  width: 100%;
}

.shipping-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 160px 100px;

  @media (max-width: 1024px) {
    padding: 60px 120px;
  }

  @media (max-width: 768px) {
    padding: 40px 20px 80px;
  }
}

/* ===== HEADER ===== */
.shipping-header {
  margin-bottom: 3rem;

  .breadcrumb-top {
    width: 100%;
    margin: 0 0 1.5rem 0;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 8px;

    .breadcrumb-link {
      background: none;
      border: none;
      color: #173036;
      cursor: pointer;
      font-size: 18px;
      padding: 0;
      transition: all 0.2s;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        color: #D6FC45;
        font-weight: 700;
      }
    }

    .breadcrumb-sep {
      color: #999;
      margin: 0 4px;
    }

    .breadcrumb-current {
      color: #173036;
      font-weight: 400;
    }
  }
}

.breadcrumb {
  font-size: 18px;
  margin-bottom: 16px;
  display: flex;
  gap: 8px;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: #d6ff00;
    }
  }

  .sep,
  .current {
    color: #000;
  }
}

.page-title {
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 2rem 0;
}


/* ===== BODY ===== */
.shipping-body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  section {
    margin: 0;
    padding: 0;
  }

  h3 {
    font-size: 25px;
    font-weight: 600;
    color: #173036;
    margin: 0 0 0.75rem 0;
  }

  p {
    font-size: 18px;
    line-height: 1.8;
    color: #666;
    margin: 0;
  }
}
